.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
myenv
venv
.env
.venv
.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
staticfiles
media
*.log
db.sqlite3
Dockerfile
docker-compose.yml
.dockerignore